section.Windows #Windows-console a {
  color: #a6e22e;
  text-decoration: none;
  font-weight: bold;
}
section.Windows #Windows-console a:hover {
  color: #ccff66;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(146, 255, 4, 0.56);
}
section.Windows #Windows-console .blog-link-img  {
  width: 100%;
  text-align: center;
}
section.Windows #Windows-console .blog-link-img a {
  color: #a6e22e;
  text-decoration: none;
}
section.Windows #Windows-console .blog-link-img a:hover {
  color: #ccff66;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(146, 255, 4, 0.56);
}
section.Windows #Windows-console .blog-link-img img {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  border-top: 1px dashed #a6e22e;
  align-content: center;
}