section.Windows #Windows-console .container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
section.Windows #Windows-console .cmds {
  width: 40%;
}
section.Windows #Windows-console .info {
  width: 60%;
}