@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@keyframes animateDot {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(calc(3.6deg * var(--num))); }
}
@keyframes animateScroll {
  0% {
    opacity: 0;
    /* filter: blur(4px); */
    transform: rotate(360deg) translateX(100%);
  }
  /* 50% {
    opacity: 0.2;
    filter: blur(4px);
    transform: rotate(0deg) translateX(50%);
  }
  80% {
    opacity: 0.8;
    filter: blur(4px);
    transform: rotate(0deg) translateX(-10%);
  }
  90% {
    opacity: 0.9;
    filter: blur(2);
    transform: rotate(0deg) translateX(10%);
  } */
  100% {
    opacity: 1;
    /* filter: blur(0); */
    transform: rotate(0deg)  translateX(0);
  }
}
section#HR #HR-Landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  overflow: hidden;
  animation: Gradient 15s ease infinite;
}
section#HR #HR-Landing .cube {
  position: absolute;
  top: 90vh;
  left: 50vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  border-radius: 0 50% 50% 50%;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
section#HR #HR-Landing .cube:nth-child(2n) {
  border-color: #FFF;
}
section#HR #HR-Landing .cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
section#HR #HR-Landing .cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
section#HR #HR-Landing .cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
section#HR #HR-Landing .cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
section#HR #HR-Landing .cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
section#HR #HR-Landing #HR-Landing-Download {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px 0;
  width: clamp(400px, 90%, 100vw);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8em;
  text-align: center;
  color: #fff;
  opacity: 0;
  animation: fadeIn 3s linear forwards .5s;
}
section#HR #HR-Landing #HR-Landing-Download #HR-Landing-header-resume {
  padding-bottom: 0.3em;
  font-size: 3rem;
  line-height: 1em;
  letter-spacing: .3em;
  border-bottom: .1em solid rgb(235, 156, 11);
  color: transparent;
  background: linear-gradient(38deg, hsl(164deg 100% 59%), hsl(49deg 100% 62%));
  background-clip: text;
  -webkit-background-clip: text;
}
section#HR #HR-Landing #HR-Landing-Download span.blink-cursor {
  margin: 0 5px 0 5px;
  border-right: .5em solid rgb(235, 156, 11);
  -webkit-animation: pulse 0.8s ease-in-out infinite;
  -moz-animation: pulse 0.8s ease-in-out infinite;
  -o-animation: pulse 0.8s ease-in-out infinite;
  -ms-animation: pulse 0.8s ease-in-out infinite;
  animation: pulse 0.8s ease-in-out infinite;
}
/* section#HR #HR-Landing #HR-Landing-Download h3 {} */
section#HR #HR-Landing #HR-Landing-Download button {
  width: 200px;
  height: 60px;
  color: #a6e22e;
  border: solid 2px #baff31;
  background-color: #2d2f32;
  border-radius: 5px;
  font-family: 'K2D';
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.8em;
  cursor: pointer;
}
section#HR #HR-Landing #HR-Landing-Download button:hover {
  color: #202822;
  border: solid 2px #baff31;
  background-color: #baff31;
}
section#HR #HR-Aboutme {
  position: relative;
  width: 100vw;
  opacity: 0;
}
section#HR #HR-Aboutme.scroll-animate.show {
  animation: fadeIn 1s linear forwards 0.5s;
}
section#HR #HR-Aboutme #Aboutme-me {
  position: relative;
  display: flex;
  gap: 20px 20px;
  width: 100vw;
  aspect-ratio: 16 / 10;
  background-image: url('../assets/me.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section#HR #HR-Aboutme #Aboutme-me #Aboutme-desc {
  position: absolute;
  width: clamp(400px, 50%, 660px);
  left: 5%;
  top: 65px;
  padding: 3%;
  font-family: 'K2D';
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8em;
  text-indent: 3em;
  color: #fff;
  background: #aaaaaa1a;
  border-radius: 16px;
  border: 1px solid #aaaaaa3d;
  box-shadow: 0 4px 30px #000000cc;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
}
section#HR #HR-Aboutme.scroll-animate.show #Aboutme-desc {
  animation: animateScroll 0.5s linear forwards 1s;
}
section#HR #HR-Aboutme #Aboutme-me #Aboutme-desc p {
  margin-top: 30px;
}
section#HR #HR-Aboutme #Aboutme-me #Aboutme-desc p:nth-child(1) {
  margin: 0;
}
section#HR #HR-Skill {
  position: relative;
  width: 100vw;
}
section#HR #HR-Aboutme h1,
section#HR #HR-Skill h1 {
  font-size: 3rem;
  line-height: 1.6em;
  color: #555;
  text-align: center;
  margin: 100px auto 40px auto;
}
section#HR #HR-Skill .skill-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: clamp(400px, 90%, 880px);
  margin: 0 auto;
}
section#HR .skill-container h2 {
  width: 100vw;
  font-size: 2rem;
  line-height: 1.6em;
  color: #555;
  text-align: center;
  margin: 100px auto 0 auto;
}
section#HR .skill-container .skill-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  list-style-type: none;
}
section#HR .skill-container .skill-description li {
  display: flex;
  min-width: 50px;
  color: #202822;
}
section#HR .skill-container hr {
  width: clamp(400px, 90%, 880px);
  margin: 20px auto 40px auto;
}
section#HR .skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  background: #aaa;
}
section#HR .skill-box.scroll-animate {
  opacity: 0;
}
section#HR .skill-box.scroll-animate.show {
  animation: fadeIn 2s linear forwards 0.5s;
}
section#HR .skill-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#fff, #e5f7d1, #e3e3e3);
  filter: blur(3px);
  z-index: 1;
}
section#HR .skill-box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 10px;
  height: 100%;
  background: #aaaaaa;
  filter: blur(3px);
  z-index: 1;
}
section#HR .skill-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}
section#HR .skill-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left:  100%;
  width: 100%;
  height: 200%;
  background: linear-gradient(#00000011, transparent);
  transform: skewX(45deg);
  pointer-events: none;
}
section#HR .skill-shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: 100%;
  width: 100%;
  height: 200%;
  background: linear-gradient(#00000011, transparent);
  transform: skewX(45deg);
  pointer-events: none;
}
section#HR .skill-content {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  position: inherit;
  width: 100%;
  height: 100%;
  background: linear-gradient(#dee7e7,#bac1d3);
  box-shadow: 5px 5px 5px #00000011,
    15px 15px 15px #00000011,
    20px 20px 20px #00000011,
    50px 50px 50px #00000011,
    inset 3px 3px 2px #fff;
}
section#HR .skill-percent {
  position: relative;
  width: 100px;
  height: 100px;
}
section#HR .skill-percent::before {
  content: attr(data-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  color: #fff;
  font-size: 1.75rem;
  box-shadow: 5px 5px 5px #00000033;
}
section#HR .skill-box:hover .skill-percent::before {
  font-weight: bold;
  color: #a6e22e;
  background: #202822;
  box-shadow: 0 5px 5px #92ff048f;
}
section#HR .skill-box.scroll-animate.show .skill-dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 3s ease-in-out forwards 0.3s;
}
section#HR .skill-dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}
section#HR .skill-box:hover .skill-dot::before {
  background: #f52e4f;
  filter: drop-shadow(0px 0px 2px #b90642);
}
section#HR .skill-percent svg {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(270deg);
}
section#HR .skill-percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: #00000011;
  transform: translate(5px, 5px);
}
section#HR .skill-box.scroll-animate.show .skill-percent svg circle:nth-child(2) {
  stroke: #555;
  stroke-dasharray: 275;
  stroke-dashoffset: calc(275 - (275 * var(--num) / 100));
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards 3.5s;
}
section#HR .skill-box.scroll-animate.show .skill-box:hover svg circle:nth-child(2) {
  stroke: #f52e4f;
  filter: drop-shadow(0px 0px 2px #b90642);
}
section#HR .skill-box.scroll-animate.show .skill-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  inset: 0;
  opacity: 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.6em;
  color: #555;
  text-shadow: 5px 5px 5px #00000033;
  text-align: center;
  animation: fadeIn 2s ease-in-out forwards 1s;
}
section#HR #footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: 100vw;
  height: 100vh;
  background-color: #202822;
  background: linear-gradient(-45deg, #000, #101811, #202822, #303833);
  background-size: 400% 400%;
  overflow: hidden;
  animation: Gradient 15s ease infinite;
}

section#HR #footer-container ul#footer-qrcode {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 60px;
  width: 100vw;
  list-style-type: none;
  text-align: center;
}
section#HR #footer-container ul#footer-qrcode li {
  display: flex;
}
section#HR #footer-container ul#footer-qrcode img {
  width: 160px;
  height: 160px;
}
@media print {
  section#HR { display: none; }
  section#HR * { display: none; }
  section#HR .allow-print * { display: inline; box-shadow: none; text-shadow: none; }
}

@media only screen and (max-width: 480px) and (orientation : portrait) {
  section#HR #HR-Aboutme #Aboutme-me {
    height: 100vh;
    background-position: 65%;
  }
  section#HR #HR-Aboutme #Aboutme-me #Aboutme-desc {
    width: 90vw;
    left: 5%;
    top: 50px;
    font-size: 1.6em;
  }
}