section#HR h1{
  font-size: 3rem;
  color: #555;
  text-align: center;
  margin: 100px auto 0 auto;
}
section#HR h2 {
  font-size: 2rem;
  color: #555;
  text-align: center;
  margin: 100px auto 40px auto;
}
section#HR hr {
  width: 90%;
  max-width: 880px;
  margin: 20px auto 40px auto;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animateDot {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(calc(3.6deg * var(--num))); }
}

section#HR div.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  position: relative;
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}
section#HR div.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 150px;
  background: #aaa;
}
section#HR div.skill-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(#fff, #e5f7d1, #e3e3e3);
  filter: blur(3px);
  z-index: 1;
}
section#HR  div.skill-box::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -1px;
  width: 10px;
  height: 100%;
  background: #aaaaaa;
  filter: blur(3px);
  z-index: 1;
}
section#HR div.skill-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}
section#HR div.skill-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left:  calc(100% - 10px);
  width: 100%;
  height: 200%;
  background: linear-gradient(#00000011, transparent);
  transform: skewX(45deg);
}
section#HR div.skill-shadow::after {
  content: '';
  position: absolute;
  bottom: -200%;
  left: calc(100% - 10px);
  width: 100%;
  height: 200%;
  background: linear-gradient(#00000011, transparent);
  transform: skewX(45deg);
}
section#HR div.skill-content {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  position: inherit;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background: linear-gradient(#dee7e7,#bac1d3);
  box-shadow: 5px 5px 5px #00000011,
    15px 15px 15px #00000011,
    20px 20px 20px #00000011,
    50px 50px 50px #00000011,
    inset 3px 3px 2px #fff;
}
section#HR div.skill-percent {
  position: relative;
  width: 90px;
  height: 90px;
}
section#HR div.skill-percent::before {
  content: attr(data-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 20px;
  background: #555;
  border-radius: 50%;
  color: #fff;
  font-size: 1.75rem;
  letter-spacing:  0.1rem;
  box-shadow: 5px 5px 5px #00000033;
}
section#HR div.skill-dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  animation: animateDot 2s linear forwards 0.3s;
}
section#HR div.skill-dot::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background: #555;
  border-radius: 50%;
}
section#HR div.skill-percent svg {
  position: relative;
  width: 90px;
  height: 90px;
  transform: rotate(270deg);
}
section#HR div.skill-percent svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: #00000011;
  transform: translate(5px, 5px);
}
section#HR div.skill-percent svg circle:nth-child(2) {
  stroke: #555;
  stroke-dasharray: 256;
  stroke-dashoffset: calc(256 - (256 * var(--num) / 100));
  opacity: 0;
  animation: fadeIn 1s linear forwards 2.5s;
}

section#HR div.skill-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  inset: 0;
  opacity: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-shadow: 5px 5px 5px #00000033;
  animation: fadeIn 1s linear forwards 0.5s;
}
