@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,700;0,800;1,800&display=swap');

@import './landing.css';
@import './terminal.css';
@import './windows.css';
@import './hr.css';

/* @font-face {
  font-family: 'K2D', sans-serif;
  src: local('K2D Thin'), url('../K2D/K2D_Thin.ttf') format('woff2'),
    local('K2D Bold'), url('../K2D/K2D_Bold.ttf') format('woff2'),
    local('K2D ExtraBold'), url('../K2D/K2D_ExtraBold.ttf') format('woff2');
  font-display: swap;
} */

/* @font-face {
  font-family: 'K2D', sans-serif;
  src: url('../K2D/K2D_Thin.ttf') format('woff2'),
    url('../K2D/K2D_Bold.ttf') format('woff2'),
    url('../K2D/K2D_ExtraBold.ttf') format('woff2');
  font-display: swap;
} */


@keyframes pulse {
	0% {opacity: 0;}
  25% {opacity: 1;}
	75% {opacity: 1;}
  100% {opacity: 0;}
}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #a9d7e5;}
::-webkit-scrollbar-thumb {background: #0280A0;border-radius: 5px;}
::-webkit-scrollbar-thumb:hover {background: #f00;}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}
body {
  font: normal 11px 'K2D';
  background: rgba(20, 30, 40, 1);
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: #aaa;
}
a {
  color: #a6e22e;
  text-decoration: none;
  font: bold 0.8rem/1.8rem 'K2D';
}
a:hover {
  color: #baff31;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(146, 255, 4, 0.56);
}
section#GEEK {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
section#GAMER {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
section#HR {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
section#HR ul#container-setting,
section#GAMER ul#container-setting {
  display: inline-block;
  position: fixed;
  width: calc(100% - 16px);
  height: 40px;
  left: 8px;
  top: 0;
  margin: 0;
  padding: 5px 20px;
  text-align: right;
  background-color: #202822;
  border-radius: 0 0 15px 15px;
  list-style-type: none;
  z-index: 9999;
}
section#HR ul#container-setting li,
section#GAMER ul#container-setting li {
  display: inline-block;
  min-width: 50px;
  height: 30px;
  margin: 0 10px;
  padding: 5px 15px;
  text-align: center;
  border: solid 2px #6e7074;
  background-color: #202822;
  font: normal 0.8rem/1rem 'K2D';
  border-radius: 10px;
  cursor: pointer;
}
section#HR ul#container-setting li:hover,
section#GAMER ul#container-setting li:hover {
  color: #202822;
  border: solid 2px #baff31;
  background-color: #baff31;
}
section#HR ul#container-setting li.selected,
section#GAMER ul#container-setting li.selected {
  color: #a6e22e;
  border: solid 2px #baff31;
  background-color: #2d2f32;
  transition: all 1s;
}