@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,700;0,800;1,800&display=swap');

@import './landing.css';

/* @font-face {
  font-family: 'K2D', sans-serif;
  src: local('K2D Thin'), url('../K2D/K2D_Thin.ttf') format('woff2'),
    local('K2D Bold'), url('../K2D/K2D_Bold.ttf') format('woff2'),
    local('K2D ExtraBold'), url('../K2D/K2D_ExtraBold.ttf') format('woff2');
  font-display: swap;
} */

/* @font-face {
  font-family: 'K2D', sans-serif;
  src: url('../K2D/K2D_Thin.ttf') format('woff2'),
    url('../K2D/K2D_Bold.ttf') format('woff2'),
    url('../K2D/K2D_ExtraBold.ttf') format('woff2');
  font-display: swap;
} */


@keyframes pulse {
	0% {opacity: 1;}
  25% {opacity: 0;}
	75% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-track {background: #a9d7e5;}
::-webkit-scrollbar-thumb {background: #0280A0; border-radius: 2px;}
::-webkit-scrollbar-thumb:hover {background: #f00;}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
	width: 100vw;
	height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'K2D';
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #aaa;
  background: rgba(20, 30, 40, 1);
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: #a6e22e;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #baff31;
  cursor: pointer;
  text-shadow: 1px 1px 4px rgba(146, 255, 4, 0.56);
}
section#GEEK {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
section#GAMER {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/lain.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}
section#HR {
  width: 100vw;
  height: 100vh;
  background: #ddd;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  transform-origin: top right;
}
section#HR ul#container-mainnav,
section#GAMER ul#container-mainnav {
  display: inline-block;
  position: fixed;
  width: calc(100% - 16px);
  height: 40px;
  left: 50%;
  top: 0;
  padding: 5px 20px;
  transform: translateX(-50%);
  text-align: right;
  background-color: #202822;
  border-radius: 0 0 15px 15px;
  list-style-type: none;
  z-index: 9999;
}
section#HR ul#container-mainnav li,
section#GAMER ul#container-mainnav li {
  display: inline-block;
  min-width: 50px;
  height: 30px;
  margin: 0 10px;
  padding: 5px 15px;
  text-align: center;
  border: solid 2px #6e7074;
  background-color: #202822;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
section#HR ul#container-mainnav li:hover,
section#GAMER ul#container-mainnav li:hover {
  color: #202822;
  border: solid 2px #baff31;
  background-color: #baff31;
}
section#HR ul#container-mainnav li.selected,
section#GAMER ul#container-mainnav li.selected {
  color: #a6e22e;
  border: solid 2px #baff31;
  background-color: #2d2f32;
  transition: all 1s;
}
section#HR ul#container-mainnav li[disabled=true],
section#GAMER ul#container-mainnav li[disabled=true] {
  border: solid 3px #404140;
  background-color: #404140;
  cursor: progress;
}
section#HR ul#container-mainnav li[disabled=true]:hover,
section#GAMER ul#container-mainnav li[disabled=true]:hover {
  border: solid 3px #974141;
  background-color: #974141;
}