section#Landing {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}
section#Landing ul.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 70%;
}
section#Landing ul.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  /* background-color: fade(white, 15%); */
  background: #a6e22e;
  bottom: -160px;
  border-radius: 10% 50% 50% 50%;
  
  -webkit-animation: square 25s linear infinite;
  animation:         square 25s linear infinite;
}
section#Landing ul.bg-bubbles li:nth-child(1){
  left: 3%;
}
section#Landing ul.bg-bubbles li:nth-child(2){
  left: 15%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
  -webkit-animation: squareRL 25s linear infinite;
  animation:         squareRL 25s linear infinite;
}
section#Landing ul.bg-bubbles li:nth-child(3){
  left: 25%;
  animation-delay: 4s;
}
section#Landing ul.bg-bubbles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: fade(white, 25%);
}
section#Landing ul.bg-bubbles li:nth-child(5){
  left: 70%;
}
section#Landing ul.bg-bubbles li:nth-child(6){
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: fade(white, 20%);
}
section#Landing ul.bg-bubbles li:nth-child(7){
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
section#Landing ul.bg-bubbles li:nth-child(8){
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
section#Landing ul.bg-bubbles li:nth-child(9){
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: fade(white, 30%);
}
section#Landing ul.bg-bubbles li:nth-child(10){
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
  -webkit-animation: squareRL 25s linear infinite;
  animation:         squareRL 25s linear infinite;
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(calc(-100vh + -200px)) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(calc(-100vh + -200px)) rotate(600deg); }
}
@-webkit-keyframes squareRL {
  0%   { transform: translateY(0); }
  100% { transform: translateY(calc(-100vh + -200px)) rotate(-600deg); }
}
@keyframes squareRL {
  0%   { transform: translateY(0); }
  100% { transform: translateY(calc(-100vh + -200px)) rotate(-600deg); }
}

section#Landing section#Preconfig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #2d2f32dd;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  overflow: hidden;
}
section#Landing section#Preconfig h1 {
  text-shadow: 0 10px 6px #000;
}
section#Landing section#Preconfig ul#container-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 0;
  background-color: #202822;
  list-style-type: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 80px;
  text-align: center;
  box-shadow: 0 10px 6px #00000088;
}
section#Landing section#Preconfig ul#container-language li {
  width: 140px;
  height: 80px;
  margin: 10px;
  border: solid 3px #2d2f32;
  background-color: #202822;
  border-radius: 25px;
  cursor: pointer;
}
section#Landing section#Preconfig ul#container-language li:hover {
  color: #202822;
  border: solid 3px #baff31;
  background-color: #baff31;
}
section#Landing section#Preconfig ul#container-viewer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 10px;
  padding: 0;
  background-color: #202822;
  list-style-type: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 80px;
  text-align: center;
  box-shadow: 0 10px 6px #00000088;
}
section#Landing section#Preconfig ul#container-viewer li {
  width: 140px;
  height: 80px;
  margin: 10px;
  text-align: center;
  border: solid 3px #2d2f32;
  background-color: #202822;
  border-radius: 25px;
  cursor: pointer;
}
section#Landing section#Preconfig ul#container-viewer li:hover {
  color: #202822;
  border: solid 3px #baff31;
  background-color: #baff31;
}
section#Landing section#Preconfig ul#container-viewer li[disabled=true] {
  border: solid 3px #404140;
  background-color: #404140;
  cursor: progress;
}
section#Landing section#Preconfig ul#container-viewer li[disabled=true]:hover {
  border: solid 3px #974141;
  background-color: #974141;
}

section#Landing section#Preconfig ul#container-language li.selected,
section#Landing section#Preconfig ul#container-viewer li.selected {
  color: #a6e22e;
  border: solid 3px #baff31;
  background-color: #2d2f32;
  transition: all 1s;
}
section#Landing section#Preconfig botton#conf-accept {
  margin-top: 40px;
  padding: 10px 40px;
  background-color: #baff31;
  color: #2d2f32dd;
  border-radius: 25px;
  border: solid 10px #202822;
  box-shadow: 0 10px 6px #00000088;
  cursor: pointer;
}
section#Landing section#Preconfig botton#conf-accept.conf-accept-hide {
  opacity: 0;
}
section#Landing section#Preconfig botton#conf-accept.conf-accept-show {
  opacity: 1;
  transition: all 1s;
}