section#Landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #2d2f32dd;
  font: bold 1.8rem/2.4rem 'K2D';
  overflow: hidden;
  user-select: none;
}
section#Landing ul#container-language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 0;
  background-color: #202822;
  list-style-type: none;
  border-radius: 25px;
}
section#Landing ul#container-language li {
  width: 140px;
  height: 80px;
  margin: 10px;
  text-align: center;
  border: solid 3px #2d2f32;
  background-color: #202822;
  font: bold 1.6rem/80px 'K2D';
  border-radius: 25px;
  cursor: pointer;
}
section#Landing ul#container-language li:hover {
  color: #202822;
  border: solid 3px #baff31;
  background-color: #baff31;
}
section#Landing ul#container-viewer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 10px;
  padding: 0;
  background-color: #202822;
  list-style-type: none;
  border-radius: 25px;
}
section#Landing ul#container-viewer li {
  width: 140px;
  height: 80px;
  margin: 10px;
  text-align: center;
  border: solid 3px #2d2f32;
  background-color: #202822;
  font: bold 1.6rem/80px 'K2D';
  border-radius: 25px;
  cursor: pointer;
}
section#Landing ul#container-viewer li:hover {
  color: #202822;
  border: solid 3px #baff31;
  background-color: #baff31;
}
section#Landing ul#container-viewer li[disabled=true] {
  border: solid 3px #404140;
  background-color: #404140;
  cursor: progress;
}
section#Landing ul#container-viewer li[disabled=true]:hover {
  border: solid 3px #974141;
  background-color: #974141;
}

section#Landing ul#container-language li.selected,
section#Landing ul#container-viewer li.selected {
  color: #a6e22e;
  border: solid 3px #baff31;
  background-color: #2d2f32;
  transition: all 1s;
}
section#Landing botton#conf-accept {
  margin-top: 40px;
  padding: 10px 40px;
  background-color: #baff31;
  color: #2d2f32dd;
  border-radius: 25px;
  cursor: pointer;
}
section#Landing botton#conf-accept.conf-accept-hide {
  opacity: 0;
}
section#Landing botton#conf-accept.conf-accept-show {
  opacity: 1;
  transition: all 1s;
}